<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technically a Blog</title>
</head>

<body>
    
    <header>
        <h1>
            <a href="/">Technically a Blog</a>
        </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>© Technically a Blog, Inc.</p>
    </footer>

</body>

</html>