<h3>New Post:</h3>

<form class="add-post-form">
  <div class="mb-3">
    <label for="post_title" class="form-label">Title:</label>
    <input class="form-control" id="post_title" />
  </div>
  <div class="mb-3">
    <label for="post_content" class="form-label">Content:</label>
    <textarea class="form-control" id="post_content" rows="15"></textarea>
  </div>
  <button type="submit" class="btn btn-success">publish post</button>
</form>

<script src="/js/add-post.js"></script>