<h3>Latests News:</h3>

<ul class="list-group list-group-flush">
  {{#each posts as |post|}}
    <li class="list-group-item px-4 pt-3">
      <h4>
        <a href="/post/{{post.id}}">{{post.title}}</a>
      </h4>
      <p>Posted by {{post.user.username}} on {{post.createdAt}}</p>
    </li>
  {{/each}}
</ul>