<div class="row justify-content-center">
  <div class="col col-sm-8 col-md-6 col-lg-4">

    <h2 class="text-center mb-4">Sign Up</h2>

    <form class="signup-form">
      <div class="form-group mb-3 username_wrapper has-danger">
        <label for="username_input" class="form-label">username</label>
        <input type="text" class="form-control" id="username_input" />
        <div class="invalid-feedback"></div>
      </div>
      <div class="mb-3 password_wrapper">
        <label for="password_input" class="form-label">password</label>
        <input type="password" class="form-control" id="password_input" />
        <div class="invalid-feedback"></div>
      </div>
      <div class="mb-3 reenter_password_wrapper">
        <label for="reenter_password_input" class="form-label">re-enter password</label>
        <input
          type="password"
          class="form-control"
          id="reenter_password_input"
        />
        <div class="invalid-feedback"></div>
      </div>
      <div class="d-grid gap-2 pt-3">
        <button type="submit" class="btn btn-lg btn-success">sign up</button>
      </div>
    </form>

    <div class="mt-5 text-center">
      <p class="m-0">Already have an account?</p>
      <p class="m-0"><a href="/login">Login instead.</a></p>
    </div>

  </div>
</div>

<script src="/js/signup.js"></script>